<ion-header>
  <ion-toolbar>
    <ion-title>AhorraRD — Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- TARJETA DE PERFIL -->
  <ion-card>
    <ion-card-content>

      <div class="zona-foto">
        <ion-avatar class="avatar-grande">
          <img *ngIf="fotoPerfil" [src]="fotoPerfil" alt="Foto de perfil" />
          <ion-icon *ngIf="!fotoPerfil" name="person-circle-outline" class="icono-defecto"></ion-icon>
        </ion-avatar>

        <ion-button fill="outline" size="small" (click)="tomarFoto()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Tomar foto
        </ion-button>
      </div>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" placeholder="Tu nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Carrera</ion-label>
        <ion-input [(ngModel)]="carrera" placeholder="Ej: Tecnología"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="guardarPerfil()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar perfil
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- TARJETA DE BLUETOOTH (Unidad 5) -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="bluetooth-outline"></ion-icon>
        Dispositivos Bluetooth
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="texto-bt">Escanea dispositivos Bluetooth cercanos.</p>

      <ion-button expand="block" (click)="escanearBluetooth()" [disabled]="escaneando">
        <ion-spinner *ngIf="escaneando" name="crescent" slot="start"></ion-spinner>
        <ion-icon *ngIf="!escaneando" slot="start" name="bluetooth-outline"></ion-icon>
        {{ escaneando ? 'Escaneando...' : 'Escanear dispositivos' }}
      </ion-button>

      <!-- Lista de dispositivos encontrados -->
      <ion-list *ngIf="dispositivos.length > 0">
        <ion-item *ngFor="let d of dispositivos">
          <ion-icon name="bluetooth-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <h3>{{ d.nombre }}</h3>
            <p>ID: {{ d.id }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <p *ngIf="dispositivos.length === 0 && !escaneando" class="sin-dispositivos">
        No hay dispositivos aún. Pulsa "Escanear".
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>